*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 150px;
}
.logo{
    height: 250px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.menu a:hover{
    color: red;
    transform: scale(1.12);
    
}
.menu a:active{
    color: black;
}
.navright{
    display: flex;
    align-items:center;
    gap: 16px;
}
.navright img{
    height:40px;
    cursor: pointer;
}
.hero {
    position: relative;
    height: 90vh;                 
    width: 100%;
    color: #fff;
    overflow: hidden;
}
.herobg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    transform: scale(1.1);
    transition: transform 1.5s ease;
}
.hero:hover .herobg {
    transform: scale(1); 
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 1)
    );
    z-index: 2;
}
.hero-content {
    position: relative;
    z-index: 3;
    top: 35%;                      
    left: 60px;
    max-width: 600px;
}
.hero-title {
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
.hero-btn .btn-play {
    background-color: #e50914;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.hero-btn .btn-play:hover {
    transform: scale(1.05);
    background-color: #a31017;
    
}
.hero-desc {
    margin-top: 18px;
    font-size: 1.2rem;
    max-width: 500px;
    line-height: 1.5;
    color: #e5e5e5;

    display: -webkit-box;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hero-rating {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, transparent, #000);
    z-index: 3;
}
.movie-row {
    margin-top: 30px;
    padding-left: 60px;
}

.row-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.row-cards {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.row-cards::-webkit-scrollbar {
    height: 6px;
}

.row-cards::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 3px;
}
.movie-card {
    width: 180px;
    height: 260px;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card:hover {
    transform: scale(1.08);
}
.movie-details {
    position: relative;
    height: 100vh;
    color: #fff;
    overflow: hidden;

}
.details-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.movie-details::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black);
    z-index: 2;
}
.details-content {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 100px 60px;
}

.details-poster {
    width: 300px;
    border-radius: 10px;
}

.details-text {
    max-width: 600px;
}

.details-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.details-rating,
.details-release {
    font-size: 1.1rem;
    margin-top: 10px;
}
.video-preview {
    margin-top: 0px;
    padding: 0 30px;
}

#preview-frame {    
    border-radius: 10px;
    width: 100%;
    height: 620px;
    background: #000;
}
.hidden {
    display: none !important;
}
.btn-play {
    background-color: #04b907;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-play:hover {
    background-color: #025f18;
    transform: scale(1.05);
}
.nav-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-search-input {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
}

#nav-search-btn {
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
}
.nav-search {
    display: flex;
    align-items: center;
    gap: 6px;
}

#nav-search-input {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
}

#nav-search-btn {
    background: #e50914;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.search-page {
    padding: 20px 40px;
    margin-top: 30px;
}

.page-title {
    color: white;
    margin-bottom: 15px;
}

#tv-controls {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;  
}

#tv-controls label {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

#season-select,
#episode-select {
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: 1px solid #555;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    appearance: none;
}

#season-select:hover,
#episode-select:hover {
    background-color: rgba(20,20,20,0.9);
    border-color: white;
}

#tv-controls select option {
    background-color: black;
    color: white;
    padding: 10px;
}
.details-buttons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.btn-trailer {
    background-color: #e50914;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-trailer:hover {
     background-color: #a31017;
    transform: scale(1.05);
}
.btn-list {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.btn-list:hover {
    background: white;
    color: black;
}
.movie-card {
    position: relative; /* allow overlay */
}

.fake-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #333;
    border-radius: 999px;
    overflow: hidden;
}

.fake-progress {
    height: 100%;
    background: #e50914;
}
/* Hide mobile stuff on desktop */
.hamburger,
.mobile-menu,
.mobile-searchbar {
    display: none !important;
}
/* Hide mobile search on desktop */
@media (min-width: 769px) {
    .mobile-search {
        display: none !important;
    }
}

/* MOBILE ONLY */
@media (max-width: 768px) {

    /* hide desktop nav + search */
    .desktop-search,
    .menu {
        display: none !important;
    }

    /* show hamburger */
    .hamburger {
        display: block !important;
        position: absolute;
        left: 15px;
        top: 20px;
        font-size: 30px;
        background: none;
        border: none;
        color: #fff;
        z-index: 99999;
    }
/* MOBILE MENU HIDDEN BY DEFAULT */
.mobile-menu {
    position: absolute;
    top: 60px;      /* directly under navbar */
    left: 10px;

    width: 160px;

    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    padding: 12px 10px;
    border-radius: 10px;

    display: none;
    flex-direction: column;
    gap: 12px;

    z-index: 999999; /* <<< SUPER IMPORTANT */
}

.mobile-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

/* WHEN BURGER IS CLICKED */
.mobile-menu.show {
    display: flex !important;
}
    /* search bar styling */
    .mobile-search {
        width: 100%;
        padding: 10px 15px;
        background: black;
        z-index: 9999;
    }

    #mobile-search-input {
        width: 100%;
        padding: 12px;
        background: #222;
        color: white;
        border: none;
        border-radius: 8px;
    }
}